@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: roboto, serif, cursive;
}

img {
    width: 420px;
    height: auto;
    border-radius: 16px;
}

ul, a {
    text-decoration: none;
    list-style: none;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.left-head {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.right-head a, ul {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.content {
    background-color: #1f2937;
    width: min;
}

.main {
    color: #f9faf8;
    display: flex;
    gap: 3.5rem;
    flex-shrink: 1;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    padding-top: 24px;
}

.left {
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
}

.left h1 {
    font-size: 32px;
}

.right {
    padding-bottom: 16px;
}

button {
    display: flex;
    width: 150px;
    padding: 16px;
    margin-top: 4px;
    justify-content: center;
    font-size: 24px;
    background-color: rgb(30, 30, 235);
    color: #f9faf8;
    font-weight: 800;
    border: rgb(30, 30, 235);
    border-radius: 16px;
}

button:hover {
    background-color: blueviolet;
}

.scroll {
background-color: #f9faf8;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 32px;
padding-bottom: 32px;
}

.box h1 {
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.sq-one, .sq-two, .sq-three, .sq-four {
    border: black dotted 4px;
    gap: 16px;
    height: 250px;
    width: 250px;
    border-radius: 12px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
}

.t-one, .t-two, .t-three, .t-four {
    padding-top: 10px;
    font-weight: 600;
    font-size: 20px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    font-size: x-large;
    font-weight: 700;
    font-style: italic;
    color: rgba(14, 19, 90, 0.514);
}

.br {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-size: x-large;
    text-decoration: underline;
}

.words {
    width: 450px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.sign {
    background-color: #e5e7eb;
    display: flex;
    justify-content: end;
    padding-right: 81vh;
    padding-top: 1%;
}

.about {
    color: #20293a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.board {
    background-color: lightskyblue;
    padding: 2%;
    border-radius: 8px;
}

.names {
    display: flex;
    gap: 99px;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
