@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: roboto, serif, cursive;
}

img {
    width: 420px;
    height: auto;
    border-radius: 16px;
}

ul, a {
    text-decoration: none;
    list-style: none;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.left-head {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.right-head a, ul {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.content {
    background-color: #1f2937;
    width: min;
}

.main {
    color: #f9faf8;
    display: flex;
    gap: 3.5rem;
    flex-shrink: 1;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    padding-top: 24px;
}

.left {
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
}

.left h1 {
    font-size: 32px;
}

.right {
    padding-bottom: 16px;
}

button {
    display: flex;
    width: 150px;
    padding: 16px;
    margin-top: 4px;
    justify-content: center;
    font-size: 24px;
    background-color: rgb(30, 30, 235);
    color: #f9faf8;
    font-weight: 800;
    border: rgb(30, 30, 235);
    border-radius: 16px;
}

button:hover {
    background-color: blueviolet;
}